<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, Justin</p>

    <p>You have <%= @contacts.length %> new messages.</p>

    <a href="https://www.justingarciaportfolio.me/admins/sign_in" target="-blank">Go to inbox</a>

  </body>
</html>
