<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @admin.email %></h1>

    <% @contacts.each do |contact| %>
      <%= contact.name %>
      <%= contact.email %>
      <%= contact.message %>
    <% end %>

  </body>
</html>
