<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @admin.email %></h1>

    You have <%= @contacts.length %> new messages.

    <br>

    <a href="https://www.justingarciaportfolio.me/admins/sign_in" target="-blank">Go to inbox</a>

  </body>
</html>
