.nav-logo {
  width: 80px;
}

.wrapper {
  width: 100%;
  margin-top: 100px;
}

.bg {
  background-image: url("machu.jpeg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg:before{
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(112, 110, 110, 0.295);
  background: rgba(0, 0, 0, 0.541);
  position: absolute;
}

.intro-text {
  padding-top: 260px;
  color: white;
  text-align: center;
  position: relative;
}

.intro-text h1 {
  font-size: 45px;
  /* font-weight: 800; */
  font-family: "Optima", sans-serif;
}

.about {
  height: 800px;
}
