@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Maven+Pro&display=swap');

.App {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
}

@media (max-width: 800px) {
  .App {
    width: 100%;
  }
}