<!DOCTYPE html>
<html>
  <head>
    <title>JG Portfolio</title>
    <%= render "shared/rails_default" %>
    <%= render "shared/shim" %>
  </head>

  <body>
    <%= render "navbar/navbar" %>
    <%= yield %>
  </body>
</html>
